<h1>Add your gas and electric usage here</h1>
<%= form_for @saver do |f|%>
<%= f.label :kwh,"Kwh Usage"%><br>
<%= f.number_field :kwh%><br>
<%= f.label :gas,"Gas Usage"%><br>
<%= f.number_field :gas%><br>
<%=f.submit "Submit Usage"%><br>
<%end%>