<!DOCTYPE html>

<html>
  <head>
    <title>EnergySaverApp</title>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/saving_energy_pic.jpeg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                 <%= link_to root_path do %>
                 <%= image_tag "/saving_energy_pic.jpeg", :size => '100x150', :class => "navbar-brand page-scroll" %>
              <%end%>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                 
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                      </li>
                      <li>
                        <a class="page-scroll" href="/savers/about">About</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="#services">Services</a>
                      </li>
                      <li><%= link_to 'Get Data', new_saver_path%>
                          <%if user_signed_in?%>
                              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "glyphicon glyphicon-log-out"%>
                                  <%else%>
                                     </li>
                                  <li class="">
                                    <li><%= link_to 'Login', user_session_path, :class => "glyphicon glyphicon-log-in"%></li>
                              </li>
                           <%end%>
                      </li>   
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <div class="footer navbar-fixed-bottom">
       <div class="container text-center">
       &copy Developed by Rafeeq Wilson
       </div>
    </div>
    
    <%= yield %>
  </body>
</html>
